img.logo{
    width: 310px;
    height:60px;
   
}
body{
	background-color: #FFCCCC;
}
div.Fond{
    background-color:#FFB4B3;
    
    
}
button.Classement{
    color:#FF6666;
    background-color: #FF6666;
}

