img.logo{
    width: 310px;
    height:60px;
   
}
body{
	background-color: #FFCCCC;
}
div.Fond1{
    background-color:#FFB4B3;
    
    
}
button.Voter{
    background-color: blanchedalmond;
    
}

