img.logo{
    width: 310px;
    height:60px;
   
}

div.Fond2{
    background-color:#FFB4B3;
    
   
        
}
button.Classement{
    color:#FF6666;
    background-color: #FF6666;
}
body{
	background-color: #FFCCCC;
}
table { 
    width: 750px; 
    border-collapse: collapse; 
    margin:50px auto;
    }
/* Zebra striping */
tr:nth-of-type(odd) { 
    background:  #FF6666;
    }
th { 
    background:#FFCCCC;
    color:  rgb(197, 53, 53); 
    font-weight: bold; 
    }
td, th { 
    padding: 10px; 
    border: 1px solid   rgb(197, 53, 53); 
    text-align: left; 
    font-size: 18px;
    }  

